@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
    <label>Name</label>
    <input type="text" name="Name" />
    <br /><hr />

    <label>Description</label>
    <input type="text" name="Description">
    <br /><hr />
    <label>Price</label>
    <input name="Price">
    <br /><hr />
    <button id="saveBtn" type="button">Save</button>
</form>

<script>
    $("#saveBtn").click(function () {                
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()                       
        })
            .done( function (response) {
                $("#TableContainer").html(response);

                //Hide Create Table afret submit values on Create Page
                $("#actionContainer").html(""); 
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");            
            });
    });
    
</script>



